@import "tailwindcss";

html,
body {
  height: 100%;
}

body {
  background-color: #f3f4f6; /* gray-100 */
  color: #1f2937; /* gray-800 */
  margin: 0;
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.animate-fade-in {
  animation: fadeInUp 0.4s ease forwards;
}

.animate-fade-in-delay {
  animation: fadeInUp 0.5s ease forwards;
}
