@import "tailwindcss";

/* base */
html,
body {
  height: 100%;
}

body {
  background-color: #f3f4f6; /* gray-100 */
  color: #1f2937; /* gray-800 */
  font-family: system-ui, -apple-system, BlinkMacSystemFont,
    "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
}
